.btn-ghost {
  color: #bb6187;
  border: 1px solid #bb6187;
  padding: 3px;
  border-radius: 50px;
  opacity: 0.6;
  transition: opacity 0.3s ease;
}

.btn-ghost:hover {
  opacity: 1;
  color: #9b609c;
  border: 1px solid #BE8ABF;
}
