.card-show {
  border-radius: 180px;
}

.pet-img {
  border-radius: 280px;
}

.card {
  border: 4px solid #EA9ABB;
}

#show {
  background-size: repeat;
  background-image: asset_url('background.jpg');
}
