.card-show {
  border-radius: 180px;
}

.pet-img {
  width: 500px;
  border-radius: 280px;
}

.card {
  border-width: 2px;
  border-color: #efadce;
}

#show {
  background-size: repeat;
  background-image: asset_url('background.jpg');
  padding-bottom: 50px;
}
