// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  text-decoration: none;
  color: #7da3be;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #7da3be;
}

a:hover {
  text-decoration: none;
  color: #7da3be;
}
