// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";
@import "mapbox-gl/dist/mapbox-gl";
@import "@mapbox/mapbox-gl-geocoder/dist/mapbox-gl-geocoder";

// Your CSS partials
@import "components/index";
@import "pages/index";

body {
  text-decoration: none;
  color: #67889f;
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #67889f;
}

a:hover {
  text-decoration: none;
  color: #67889f;
}

.card-title {
  color: #EFADCE;
}

.card {
  background-color: #FCF8F7;
}

h1 {
  text-shadow: 1px 1px 3px #67889f;
}

h2 {
  text-shadow: 1px 1px 3px #67889f;
}

.form-button {
  text-decoration: none;
  color: #67889f;
  font-size: 20px;
  margin-left: -13px;
}
